.blue-card {
  padding: 50px 15px 20px 15px;
  gap: 1.8rem;
}

p,
b {
  font-family: "Montserrat";
  font-size: 12px;
  font-family: "Montserrat";
  letter-spacing: 0;
}

.awards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.icon-award {
  margin-bottom: 10px;
}
.icon-ray {
  width: 46px;
  margin-top: -10px;
}
.icon-dot {
  padding: 10px 0;
}