
.blue-card {
  padding-top: 50px;
}
.text-main {
  font-weight: 600;
  font-size: 12px;
  font-family: 'Montserrat';
  letter-spacing: 0;

}

p,b {
  font-size: 12px;
  font-family: 'Montserrat';
  letter-spacing: 0;
}